# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
alias vi="nvim"
alias vim="nvim"
alias vic='nvim --clean'

# macOS only
if [[ "$OSTYPE" == "darwin"* ]]; then
  # enhance tools
  alias up="brew update && brew upgrade && brew cleanup && omz update && git -C ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k pull"
  alias cat="bat"
  alias h="history | fzf --tac --no-sort"
  alias l="exa --long --header --git --icons --group-directories-first"
  alias la="exa --long --header --git --icons --group-directories-first --all"
  # tmux
  alias ta='tmux attach || tmux new -s local'
  alias tat='tmux attach -t'
  alias tad='tmux attach -d -t'
  alias ts='tmux new-session -s'
  alias tl='tmux list-sessions'
  alias tksv='tmux kill-server'
  alias tkss='tmux kill-session -t'
fi

# for skins work properly
if [[ -n "$TMUX" ]] && [[ "$TERM" = "tmux-256color" ]]; then
  alias k9s='TERM=xterm-256color k9s'
fi

# golang
alias gmv="go mod tidy && go mod vendor"


# Include custom aliases
if [[ -f ~/.aliases.local ]]; then
  source ~/.aliases.local
fi

